@using DCartWeb.Models.Products
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@*@model IPagedList<Product>*@
@model List<Product>




<div class="container p-3" id="main-content">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            @*<a asp-controller="Product" asp-action="Create" class="btn btn-primary">*@
            <a onclick="CreateProduct()" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp;
                Create New Product
            </a>
        </div>
    </div>









    <div class="modal fade" id="exampleModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content " style="width:50vw;">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="width:40vw;" id="test">
                </div>
                <div style="margin-bottom:6px;  margin-left:auto; margin-right:auto;">

                    <button type="button" class="btn btn-secondary" style="width:150px;" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


   



    <div class="modal fade" id="exampleModalPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content " style="width:50vw;">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="width:40vw; " id="test1">
                
                </div>
                <div style="margin-bottom:6px;  margin-left:auto; margin-right:auto;">

                    <button type="button" class="btn btn-secondary" style="width:150px;" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content " style="width:50vw;">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="width:40vw;" id="test2">
                </div>
                <div style="margin-bottom:6px;  margin-left:auto; margin-right:auto;">

                    <button type="button" class="btn btn-secondary" style="width:150px;" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content " style="width:50vw;">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="width:40vw;" id="test3">
                </div>
                <div style="margin-bottom:6px;  margin-left:auto; margin-right:auto;">

                    <button type="button" class="btn btn-secondary" style="width:150px;" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>



    <br />
    <form method="post" id="post-method">

        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        @*@if (item.ProductPicture != null)
                    {
                    <img src=" data:image/*;base64,@(Convert.ToBase64String(item.ProductPicture))" class="img-fluid rounded-start" style="width:300px;" alt="...">
                    }*@

                        <img src="@item.PosterImageUrl" class="img-fluid rounded-start" style="width:300px;">

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Product Name: @item.ProductName</h5>
                            <p class="card-text">Date Added: @item.DateAdded</p>
                            <p class="card-text">Product Price: @item.ProductPrice</p>
                            <p class="card-text">Quantity In Stock: @item.QuantityInStock</p>
                            <p class="card-text">IsFeatured: @item.IsFeatured</p>

                            @if (item.DateUpdated != null)
                            {
                                <p class="card-text"><small class="text-muted">Last updated @item.DateUpdated</small></p>
                            }
                            else
                            {
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success">
                    @*<button asp-controller="Product" asp-action="View" asp-route-id="@item.Id" class="btn btn-secondary">View</button>*@
                    <button onclick="View(@item.Id)" class="btn btn-secondary">View</button>

                    @*<button asp-controller="Product" asp-action="EditView" asp-route-id="@item.Id" class="btn btn-primary">Edit</button>*@
                    <button onclick="Edit(@item.Id)" class="btn btn-primary">Edit</button>
                    @*<button asp-controller="Product" asp-action="DeleteView" asp-route-id="@item.Id" class="btn btn-danger">Delete</button>*@
                    <button onclick="Delete(@item.Id)"  class="btn btn-danger">Delete</button>

                </div>
            </div>
        }

    </form>
    @* <nav class="float-left mb-3">
    @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
    {
    ActiveLiElementClass = "active",
    PageClasses = new[]{ "page-link"},
    LiElementClasses=new[] { "page-item" },
    UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
    LinkToNextPageFormat = "Next",
    LinkToPreviousPageFormat = "Previous",
    MaximumPageNumbersToDisplay = 5,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always
    })
    </nav>*@
</div>



@{
    <partial name="_ValidationScriptsPartial" />
}
<script src="~/lib/jquery/dist/jquery.min.js" ></script>
<script src="/js/Products.js"></script>