@using DCartWeb.Models.ViewModels
@model UserViewModel
<link rel="stylesheet" href="~/css/CustomeStyle.css" asp-append-version="true" />


<form method="post" asp-action="UpdateRole">
    <input asp-for="@Model.User.Id" type="hidden" />
    <input asp-for="@Model.OldRole" value="@Model.OldRole" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit User Role</h2>
            <hr />
        </div>
       @* <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="User.FirstName"></label>
            <input asp-for="User.FirstName" readonly class="form-control" />
            @*<span asp-validation-for="Subs.Name" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label asp-for="User.LastName"></label>
            <input asp-for="User.LastName" readonly class="form-control" />
            @*<span asp-validation-for="Subs.Name" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email" readonly class="form-control" />
            @*<span asp-validation-for="Subs.Name" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label asp-for="Roles.Id"></label>
            <select asp-for="Roles.Id" asp-items="@Model.RoleList" class="form-select">
                <option disabled selected>@Model.OldRole</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Admin" asp-action="Users" class="btn btn-primary" style="width:150px">Go Back</a>
    </div>
</form>